/* main */
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  margin-top: 90px;
}

/* header */
.header {
    order: 0;

    font-family: 'Pretendard', sans-serif;
    text-align: center;
    font-style: normal;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 38px;
}

/* button */
.button {
    width: 92px;
    height: 50px;
    background: #306FDB;
    border-radius: 30px;
    order: 1;

    font-family: 'Pretendard', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

/* template */
.template {
    /* Auto layout */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    gap: 43px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.container {
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* 복제된 이미지는 기본적으로 숨김 */
.innerContainer .clone {
  display: none;
}

.innerContainer {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: relative;
    width: 1200px;
    height: 568px;
    left: 0px;
    top: 0px;
}

@media (max-width: 480px) {
    .header {
        font-size: 16px;
        line-height: 28px;
    }
    .template {
        width: 100%;
    }
    .container {
        /* container */
        overflow: hidden;
        width: 100%;
    }

    .innerContainer .clone {
        display: flex; /* 480px 이하일 때 복제 이미지 표시 */
    }

    .innerContainer {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 24px;
        width: 2400px;
        animation: scrollAnimation 10s linear infinite; /* 10초 동안 무한 애니메이션 */
    }

    /* 애니메이션 정의 */
    @keyframes scrollAnimation {
        0% {
            transform: translateX(0%); /* 시작 위치 */
        }
        100% {
            transform: translateX(-50.5%); /* 끝 위치, /* 각 이미지의 너비에 비례해 전체 너비만큼 이동 */
        }
    }
}