/* hero */
.hero-main {
  /* Auto layout */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  margin-top: 90px;
}

/* header */
.hero-header {
    order: 0;

    font-family: 'Pretendard', sans-serif;
    text-align: center;
    font-style: normal;
    color: #FFFFFF;
}

.hero-h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 38px;
    margin: 24px;
}

.hero-p {
    opacity: 70%;
    font-size: 24px;
    line-height: 38px;
}

@media (max-width: 480px) {
  .hero-main {
    gap: 16px;
    margin-top: 30px;
  }

  .hero-h1 {
    font-size: 24px;
    line-height: 32px;
    margin: 12px;
  }

  .hero-p {
    font-size: 16px;
    line-height: 28px;
  }
}